@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background: #AAAAAA;
}

#logo {
    padding: 0 0 0 40px;
}


#search input[type='text'] {
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-style: italic;
    margin: 0 10px 0 0;
}

#search input[type='submit']{
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

nav {
    padding: 0 40px 0 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 0 5px;
}

nav ul li a {
    font-size: 1.3em;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.text-center{
    text-align: center;
}

.mx-5 {
    margin: 0 5px;
}

.mx-10 {
    margin: 0 10px;
}

.mx-r-5 {
    margin: 0 5px 0 0;
}

.mx-r-10 {
    margin: 0 10px 0 0;
}

.mx-l-5 {
    margin: 0 0 0 5px;
}

.mx-l-10 {
    margin: 0 0 0 10px;
}

.my-5 {
    margin: 5px 0;
}

.my-10 {
    margin: 10px 0;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}


.flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.page-title {
    margin: 20px 0;
    color: #000000;
}

.subtitle {
    margin: 10px 0;
    color: #AAAAAA;
}

.card {
    width: 40%;
    padding: 40px;
    margin: 40px 40px 40px 0;
    border: 2px solid black;
}

.list-items {
    margin: 80px;
}

.title {
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-style: italic;
    font-weight:bold;
    margin: 10px 0;
}

.content {
    margin: 10px 0;
}

.btn-more{
    background: black;
    color:white;
    margin: 10px 0;
    padding:5px 15px;
    border-radius:15px;
    text-align: center;
    display: inline-block;
}

.tags {
    margin: 40px 0;
}

.tag {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
}

footer {
    height: 10vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h3 {
    color: white;
}


@media (max-width: 800px) {

    .flex-container {
        flex-direction: column;
    }

    .card {
        width: 80%;
        padding: 40px;
        margin:40px 0;
        border: 2px solid black;
    }

    #logo h1 {
        font-size: 1.1em;
    }

    .tag {
        margin:20px 0;
    }

}