@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background: darkblue;
}

#logo-admin {
    padding: 0 0 0 40px;
}

#logo-admin h1 a {
    font-size: 1.2em;
    font-family: 'Roboto Mono', monospace;
}

#logo-admin h1 a:hover {
    text-decoration: none;
}

#logo {
    padding: 0 0 0 40px;
}

#logo h1 a {
    font-size: 1.2em;
    font-family: 'Courgette', cursive;
}

#logo h1 a:hover {
    text-decoration: none;
}

#search input[type='text'] {
    border: none;
    padding: 5px 10px;
    font-style: italic;
    margin: 0 10px 0 0;
}

#search input[type='submit']{
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

nav {
    padding: 0 40px 0 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    font-size: 1.3em;
}

a:hover{
    text-decoration: underline;
}

.text-center{
    text-align: center;
}

.m-10 {
    margin: 10px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-r-10 {
    margin-right: 10px;
}

.mx-l-10 {
    margin-left: 10px;
}

.m-20 {
    margin: 20px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-r-20 {
    margin-right: 20px;
}

.mx-l-20 {
    margin-left: 20px;
}


.flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    margin: 5%;
}

.material-icons {
    vertical-align: bottom;
    padding-right:5px;
}

.page-title {
    color: #000000;
}

.subtitle {
    color: #AAAAAA;
}

.card {
    position: relative;
    width: 40%;
    padding: 40px;
    margin: 40px 0;
    border: 2px solid black;
}

.category {
    position:absolute;
    top: -1px;
    left:-1px;
    padding:5px 10px;
    color: white;
    background:black;
}

.title {
    font-weight: bold;
}

.description {
    font-style: italic;
    font-weight:bold;
}

.btn-more{
    background: black;
    color:white;
    padding:5px 15px;
    border-radius:15px;
    text-align: center;
    display: inline-block;
}

.tags {
    margin: 40px 0;
}

.tag {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
}

footer {
    height: 10vh;
    background: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h3 {
    color: white;
}

.admin-array{
    width: 100%;
}

.admin-array th {
    background: black;
    color:white;
    padding: 15px;
}

.admin-array td {
    padding: 15px 5px;
    text-align: center;
}

.admin-array tr:nth-child(odd){
    background:#e0e0e0;
}

.admin-array tr:nth-child(even){
    background:#C4C4C4;
}

.add-button{
    display: inline-block;
    background:#4ED164;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.add-button span, .add-button a {
    vertical-align: middle;
    color: white;
}

#edit-icon, #delete-icon{
    color:black;
}

.admin-form {
    margin: 50px auto;
    width: 30%;
}

.admin-form div {
    margin: 20px 0;
}

.admin-form label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

.admin-form input, .admin-form textarea {
    width:100%;
    border: 2px solid #dfdfdf;
    padding: 10px;
    border-radius: 5px;
}

.admin-form textarea {
    resize:none;

}

.admin-form #article_createdAt_date, .admin-form #article_createdAt_time {
    display: inline;
}

.admin-form select {
    width:100%;
    border: 2px solid #dfdfdf;
    padding: 10px;
    border-radius: 5px;
}

.admin-form input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
    cursor: pointer;
}

.admin-form input[type="checkbox"]:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

.admin-form input[type="checkbox"]:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
}

.admin-form input[type="checkbox"]:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

.admin-form button[type="submit"] {
    display: block;
    margin: 0 auto;
    background: none;
    border: 2px solid #dfdfdf;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.admin-form button[type="submit"]:hover {
    background: #4ED164;
    border: 2px solid #FFFFFF;
    color: white;
}


@media (max-width: 800px) {

    .flex-container {
        flex-direction: column;
    }

    .card {
        width: 80%;
        padding: 40px;
        margin:40px 0;
        border: 2px solid black;
    }

    #logo h1 {
        font-size: 1.1em;
    }

    .tag {
        margin:20px 0;
    }

}