{% extends 'admin/admin_base.html.twig' %}

{% block title %}Accueil admin{% endblock title %}

{% block main %}
    <div class="show">
        <h1 class="page-title text-center">Bienvenue sur l'administration du blog !</h1>
    </div>
{% endblock main %}