{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock title %}

{% block main %}
    <h1 class="page-title">Liste des articles</h1>
    <h2 class="subtitle">({{articles | length }} articles)</h2>
    <div class="flex-container">
        {% for article in articles %}
            {% if article.isPublished %}
                <div class="card">
                    <a href="{{ path('articleShow', {id: article.id}) }}">
                        <h1>{{ article.title }}</h1>
                        <p>{{ article.description }}</p>
                        <div class="btn-more">En savoir plus</div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock main %}