{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock title %}

{% block main %}
    <h1 class="page-title">Liste des catégories</h1>
    <h2 class="subtitle">({{categories | length }} catégories)</h2>

    <div class="flex-container">
    {% for category in categories %}
            {% if category.isPublished %}
                    <div class="card">
                        <a href="{{ path('categoryShow', {id: category.id}) }}">
                            <h1>{{ category.title }}</h1>
                            <p>{{ category.description }}</p>
                        </a>
                    </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock main %}