{% extends 'base.html.twig' %}
{% block title %}Liste des catégories{% endblock title %}

{% block main %}
        {% for category in categories %}
            {% if category.published %}
                    <a href="{{ path('category', {id: category.id}) }}">
                        <h1>{{ category.title }}</h1>
                        <p>{{ category.content }}</p>
                    </a>
            {% endif %}
        {% endfor %}
{% endblock main %}