{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock title %}

{% block main %}
    <div class="container">
        <h1 class="page-title text-center">Bienvenue !</h1>
    </div>
{% endblock main %}